@import 'Variables'
@import 'Mixins'

footer

	padding: 4em 0
	width: 100%

	+breakpoint(xs)
		padding: 2em 0

footer > div

	max-width: 70em
	margin: 0 auto
	display: flex
	align-items: center
	justify-content: space-between

	+breakpoint(xs)
		width: 95%
		flex-direction: column
		align-items: flex-start


footer a

	padding-bottom: .4em
	border-bottom: 1px solid $black

	+breakpoint(xs)
		padding-bottom: .2em

footer .social-links

	li

		display: inline-block
		margin-left: 1em

	+breakpoint(xs)

		margin-top: 1em

		li
			margin-left: 0
			margin-right: 1em
