@import 'Variables'
@import 'Mixins'

header

	padding: 4em 0
	width: 100%
	text-align: center

	+breakpoint(xs)
		padding: 2em 0

header h1

	font-size: 4em
	display: inline-block
	background: $black
	color: $white
	width: 230px

	+breakpoint(xs)

		font-size: 3em
		width: 180px

