@import 'Variables'
@import 'Mixins'

.load-more

    width: 100%

.load-more button

    border: 2px solid transparent
    transition: all .23s ease-in

    +breakpoint(xs)
        width: 160px
        padding: 1em

    &:hover
        background: $white
        color: $black
        border-color: $black
