@import 'Variables'
@import 'Mixins'

.photoList, .loadMoreSection

  max-width: 70em
  margin: 0 auto

  display: flex
  flex-wrap: wrap
  justify-content: space-between

  +breakpoint(xs)
    width: 95%
    flex-direction: column

.photoList figure
  flex-basis: 49%
  margin-bottom: 3em

  +breakpoint(xs)
    margin-bottom: 1.5em

.photoList figcaption
  font-size: 1.2em
  margin-top: .5em
  font-family: $content

  +breakpoint(xs)
    font-size: 1em

.load-more

  text-align: center

.load-more button

  background: $black
  font-size: 1.1em
  width: 180px
  padding: 1em
  color: $white
