*
    margin: 0
    padding: 0
    -webkit-font-smoothing: antialiased

h1,h2,h3,h4,h5,h6
    font-family: $headings
    font-weight: 700

ul, p, input, button, a, span
    font-family: $content

ul
    list-style: none

a
    text-decoration: none
    color: inherit
    display: inline-block

img
    max-width: 100%
    width: 100%
    height: auto
    display: inline-block

input
    -webkit-appearance: none
    border-radius: 0
    border: none
    outline: 0
    font-size: 16px // Prevent iOS from zooming in on form focus

button
    background: none
    border: none
    outline: 0
    cursor: pointer

body
    overflow-x: hidden
